* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    width: 1400px;
    margin: auto;
    position: relative;
}
.logo a {
    color: black;
    font-size: 25px;
    font-weight: 600;
    float: left;
}
.menu {
    float: right;
}
nav {
    width: 100%;
    display: flex;
    line-height: 80px;
    top: 0;
    background: white;
    z-index: 1;
    position: fixed;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    float: left;
}
nav ul li a {
    color: black;
    font-weight: bold;
    padding: 0px 5px 0px 16px;
}
nav ul li a:hover {
    text-decoration: underline;
}
.profile {
    color: black;
    display: flex;
    align-items: center;
    text-align: left;
}
.profile img {
    height: 800px;
    width: auto;
}
.profile .text {
    margin-left: 20px;
    margin-bottom: 50px;
}
.profile h1 {
    margin: 0 0 90px;
    font-size: 50px;
    font-weight: bold;
}
.profile h2 {
    margin: 0 0 5px 0;
    font-size: 30px;
    font-style: italic;
}
.pendidikan {
    margin-top: 30px;
    text-align: center;
    align-content: center;
}
.highschool,.College {
    width: 300px;
    height: 100px;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 7px;
    margin: 50px 20px 20px 300px;
    float: left;
    border-radius: 25px;
}
.highschool:hover, .College:hover {
    background-color: black;
    color: white;
}
.pendidikan h2 {
    font-size: 25px;
    margin-top: 10px;
}
.pendidikan h3 {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 3px;
}
.minat-keahlian {
    margin-top: 20px;
}
.minat-keahlian h1 {
    font-size: 30px;
    text-align: right;
    margin-right: 60px;
}   
.minat-keahlian img {
    float: left;
    height: 500px;
    width: auto;
}
.Minat {
    margin: 10px 60px 0 0px;
    text-align: justify;
}

/* Project */
.project{
    text-align: center;
}
.project h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    margin-top: 125px;
}
.project img{
    height: 400px;
    width: auto;
    margin: 20px 0;
    border-radius: 15px;
    opacity: 75%;
    box-shadow: 5px 5px 50px black;
}
.desain{
    display: flex;
    margin: 200px 0 0 50px;
    align-items: center;
    justify-content: center;
}
.desain h2 {
    font-size: 30px;
}
.desain img {
    height: 600px;
    width: auto;
    float: right;
    margin-left: 150px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px black;
}
.story{
    display: flex;
    margin: 20px 0 0 50px;
    align-items: center;
    justify-content: center;
}
.story h2{
    font-size: 30px;
}
.story img{
    height: 600px;
    width: auto;
    margin-right: 150px;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px black;
}
.contact{
    text-align: center;
}
.contact h1{
    font-size: 15px;
    margin: 150px 0 0 0;
}
.kontak-menu{
    display: inline-flex;
    justify-content: center;
    background-color: black;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    border-radius: 10px;
    margin: 50px 0 100px;
}
.line img, .instagram img, .linkedin img, .email img{
    height: 20px;
    width: auto;
}
