<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylehomepage.css') }}">
</head>
<body>
    <div class="Homepage">
        <img src="{{ url_for('static', filename='images/profile.png') }}">
        <h1>Tsaqif Akhirul Fakhri</h1>
        <p>Saya merupakan seorang Mahasiswa Teknik Elektro Universitas Padjadjaran. </br>Cari tahu lebih lanjut tentang diri saya.</p>
    </div>
    <nav>
        <div class="menu">
            <ul>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('project') }}">Project</a></li>
                <li><a href="{{ url_for('contacts') }}">Contacts</a></li>                    
            </ul>
        </div>
    </nav>
</body>
</html>